@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary: #8235f7;
  --secondary: #fe92aa;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #e7e7e7;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.7rem;
}

h2:before {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background: var(--secondary);
  border-right: 14px solid var(--primary);
  margin-bottom: 0.8rem;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  margin-bottom: 3rem;
}

li:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 3px;
  background: var(--primary);
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}

section {
  margin-bottom: 5rem;
}

.primary-text {
  color: var(--primary);
}

.proposal {
  background: #fff;
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 1rem 2rem;
  border-top: 0.5rem solid var(--primary);
}

.header {
  margin-bottom: 5rem;
}

@media only screen and (min-width: 520px) {
  .proposal {
    margin-top: 3rem;
    padding: 1rem 4rem;
  }

  ul.split {
    display: flex;
    flex-wrap: wrap;
  }

  ul.split li {
    flex: 50% 0 0;
    padding-right: 2rem;
  }
}
